.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.content {
    min-width: 25vw;
}

.title {
    color: black;
    text-align: center;
    padding: 50px;
    font-size: 2rem;
    font-style: italic;
}




.header {
    background-color: #D94F70;
    color: white;
    height: 60px;
    font-size: 45px;
    text-align: left;
    font-weight: bolder;
}

.nav {
    background-color: #D94F70;


    text-align: left;
    color: white;
    text-align: center;
    font-size: medium;
    padding-top: 2%;

}

.charecter {
    text-align: center;
}


.cardform {
    max-width: 30%;
    height: 300px;
}

.formCrossAxis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reporterCard {

    margin: 20px;
    max-width: 300px;
}

.cardArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.profile{
    text-align: center;
}